extend ../layout

block header
   a(href="/points", data-icon="back", data-rel="back") Back
   h1 Games

block content
   
   .info
      .left-cap
      .right-cap

      .stadium-info
         .stadium= stadium.name
         .location= stadium.location

      .game-info
         .home-info
            .inner
               .team= home.name
               .record= home.record
         .vs
         .visitor-info
            .inner
               .team= visitor.name
               .record= visitor.record

